*{
	margin: 0;
	padding: 0;
	font-family: arial;
}

.logo{
	font-size: 1.5rem;
	text-align: left;
	color: #1C51EB;
	font-weight: bold;
	margin: 15px;

	float: left;
}

.logo a{
	text-decoration: none;
	color: #1C51EB;
}

.icones{
	float: right;
	margin: 15px;
}

.icones a{
	text-decoration: none;
	padding-left: 30px;
	font-size: 1.5rem;
	color: #000;
}

.window-top{
	color: #fff;
	background-color: #3C464F;
	border-bottom:  1px solid #000;
	height: 35px;
}
.window-top p{
	float: left;
	margin: 10px;
}

.window-btns{
	float: right;
	margin: 10px;
}

.window-btns a{
	text-decoration: none;
	margin-left: 20px;
	color: #fff;
	cursor: default; 
}

.window-btns a:hover{
	background-color: #d1d1d1;
}

.aviso {
	clear: both;
	border: 1px solid #000;
	margin: 0 auto;
	width: 60%;
	text-align: center;
	box-shadow: 3px 8px 15px #000;
}

.aviso h1{
	margin: 50px 0 20px 0;
	text-align: center;
	color: red;
}

h2{
	margin-bottom: 20px;
}

p{
	margin-bottom: 20px;
}
.aviso p{
	font-weight: bold;
}

#idiomas-l{
	color: #193E8C;
	font-size: 0.9em;
	text-align: center;
	margin-left: 70px;
	margin-top: 20px;
	float: left;
}

#idiomas-r{
	color: #193E8C;
	font-size: 0.9em;
	text-align: center;
	margin-top: 20px;
	margin-right: 70px;
	float: right;
}

#more{
	text-align: center;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	border: 1px solid #1C51EB;
	font-size: 1.2em;
	color: #737576;
	font-weight: bold;
	margin-left: 50px;
}

footer{
	clear: both;
	color: #737576;
	margin-top: 100px;
	margin-left: 40%;
}