#container{
	text-align: center;
	margin: 40px auto 5px auto;
	width: 280px;
	height: 280px;
	border: 4px solid #2F4043;
	border-radius: 50%;
	background-image: radial-gradient(#134335, #011610);
	box-shadow: 2px 3px 5px darkgray;
}

#container p{
	color: #031812;
	margin: 60px auto 30px auto;
	width: 180px;
	height: 60px;
	font-size: 2.9rem;
	border: 5px solid #324749;
	border-radius: 15px;
	background-color: #E4F2F0;
}

#container button{
	font-weight: bold;
	width: 70px;
	border: none;
	border-radius: 25px;
	padding: 8px;
}

#decimos{
	font-size: 1.8rem;
}

#btn-iniciar{
	color: #fff;
	background-color: #1C7E10;
	margin-right: 5px;
	transform: rotate(45deg);
}

#btn-reset{
	margin-left: 5px;
	transform: rotate(-45deg);
}

#btn-stop{
	color: #fff;
	background-color: #B80404;
	position: relative;
	top: 20px;
}

#btn-volta{
	padding-top: 2px;
	cursor: pointer;
	color: #BBDBDE;
	background-color: #0F352A;
	width: 60px;
	height: 25px;
	border-radius: 4px;
	position: relative;
	left: 107px;
	top: -36px;
	border: 3px solid #2F4043;

}

#voltas{
	background-color: #0F352A;
	font-size: 1.1rem;
	padding: 3px;
	text-align: center;
	border: 1px solid #2F4043;
	width: 150px;
	height: 110px;
	color: #BBDBDE;
	margin: 0 auto;
	border-radius: 15px;
}

#janela2{
	background-color: #BBDBDE;
}